@model ExpWebApp.Models.ValidateModel

@{
    ViewData["Title"] = "Home Page";
}

@using (@Html.BeginForm("ValidateForm", "Home", FormMethod.Post))

{
    <div class="jumbotron">
        <h1>Option B - My Date </h1>
        <div class="row input-sm">
            <div class="col-md-6">
                <label>Please select a date:</label>
                <input type="date" name="MyDate" />
                @Html.ValidationMessage("MyDate")
            </div>
        </div>
        <div class="row input-sm">
            <div class="col-md-6">
                <label>Please input days:</label>
                <input type="number" name="MyDays" placeholder="number of days" />
                @Html.ValidationMessage("MyDays")
            </div>
        </div>
        <div class="row">
        </div>
        <div class="btn-calc">

            <input type="submit" value="Calculate" class="btn btn-primary btn-lg" />

        </div>
    </div>
}
